<p id="notice"><%= notice %></p>
<div class="user_profile">
	<%= gravatar_for user: @user, class: "avatar_down", size: "78"%>
	<div class="user_profile_bar">

		<strong>Name:</strong> <%= @user.name %>
		<strong>Group:</strong> <%@user.groups.each do |t|%>
		<%= t.title  + " "%>
		<% end %> 	

		<br>
		<%= link_to 'Edit', edit_user_path(@user), class: "dark-link" %> |
		<%= link_to 'Back', root_url, class: "dark-link"%>
	</div>
</div>
<%=render @posts %>
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
