<span class=" inline">		
<%= form_for @comment do |f| %>
	<p> <%= f.text_area :content, cols: "70" , rows: "2", class: "content_field rich" %> </p>
	<%= f.hidden_field :commentable_type, :value => type %>
	<%= f.hidden_field :commentable_id, :value => commentable.id %>
	<p class="center"><%= f.submit class: "button"%> </p>
<% end %>
</span>

