<div class="post">
	<% if post.user != nil %>
	<%= gravatar_for user:post.user, size: 50, class: "avatar" %>
	<% else %>
	<%= gravatar_for size: 50, class: "avatar" %>
	<% end %>
	<div class="post_topbar">
		<span class="post_title"><%= post.title %></span><br>
		<% if post.user %>
		<span class="post_author"><%= post.user.name %></span>
		<% end %>
	</div>
	<div class="post_content">
		<%= post.content %>
	</div>
</div>