<!DOCTYPE html>
<html>
<head>
  <title>Example</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<%= javascript_include_tag "application" %>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<%= render "layouts/navbar" %>
</div>

<div class="container">
	<div id="pad-top"></div>
	<%= yield %>
	<div id="push"></div>
</div>

<div id="footer">
	<div class="container">
		&copy; 2014 by C&amp;O Railways.
	</div>
</div>

</body>
</html>
