<!DOCTYPE html>
<html>
<head>
  <title>Example</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
	Welcome to RailsDisc V-1.2E14 
	<div style="text-align:right; padding-right:10px">
	<% if signed_in? %>
	<%= link_to "Profile", current_user%>
	<%= link_to "Sign out", signout_path, method: "delete" %>
	<% else %>

	<%= link_to "Sign in", controller: "sessions", action: "index"%>

	<% end %>
	</div>
</div>

<div class="container">
	<div id="pad_top"></div>
	<%= yield %>
</div>

</body>
</html>
